body {
    background-color: #242424;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  #calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    padding: 40px;
    background-color: #313131;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  #display {
    width: 100%;
    height: 60px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 30px;
    text-align: right;
    background-color: #1c1c1c;
    border-radius: 5px;
    border: none;
    outline: none;
    color: #fff;
  }
  
  #buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  
  button {
    width: 100%;
    height: 60px;
    font-size: 24px;
    border-radius: 5px;
    background-color: #242424;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
  }
  
  button.operator {
    background-color: #ff9500;
    color: #fff;
  }
  
  button#equals {
    grid-column: 3 / span 2;
    background-color: #ff5f00;
    color: #fff;
  }
  
  button#clear {
    background-color: #a6a6a6;
    color: #fff;
  }
  
  button#backspace {
    grid-column: 1 / span 2;
    background-color: #a6a6a6;
    color: #fff;
  }
  
  button.number:hover {
    background-color: #444444;
  }
  
  button.operator:hover,
  button#equals:hover,
  button#clear:hover,
  button#backspace:hover {
    background-color: #ff7f00;
  }
  