body {
    background-color: #2c3e50;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: #fff;
  }
  
  .title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .description {
    text-align: center;
    font-size: 18px;
    margin-bottom: 40px;
  }
  
  #calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    padding: 40px;
    margin:auto;
    background-color: #34495e;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: relative;
  }
  
  #display {
    width: 100%;
    height: 60px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 30px;
    text-align: right;
    background-color: #2c3e50;
    border-radius: 5px;
    border: none;
    outline: none;
    color: #fff;
  }
  
  #buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  button {
    width: 100%;
    height: 60px;
    font-size: 24px;
    border-radius: 5px;
    background-color: #2c3e50;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button.operator {
    background-color: #e74c3c;
    color: #fff;
  }
  
  button#equals {
    grid-column: 3 / span 2;
    background-color: #3498db;
    color: #fff;
  }
  
  button#clear {
    background-color: #7f8c8d;
    color: #fff;
  }
  
  button#backspace {
    grid-column: span 2;
    background-color: #7f8c8d;
    color: #fff;
  }
  
  button.number:hover {
    background-color: #1abc9c;
  }
  
  button.operator:hover,
  button#equals:hover,
  button#clear:hover,
  button#backspace:hover {
    background-color: #2980b9;
  }
  
  #calculation-display {
    width: 100%;
    height: 40px;
    padding: 10px;
    font-size: 18px;
    text-align: right;
    background-color: #2c3e50;
    border-radius: 5px;
    border: none;
    outline: none;
    color: #fff;
  }
  
  .footer {
    margin-top: 100px;
    text-align: center;
  }